{% extends 'courses/base.html' %}

<head>
    {% block title %}
    <title> {{step.action.title}}</title>
    {%endblock%}
</head>

<body>
    {% block content %}
    <h3> {{action.course.title}}</h3>
    <h5> {{action.title}}</h5>
      <div class="text-center">
        {% for step in steps %}
          <ul>
            <li>
                <a href="{% url 'courses:step_view' step.action.course.slug step.action.slug step.slug %}">{{step.title}}</a>
                <p>{{step.description}}</p>
            </li>
          </ul>
        {% endfor %}  
      </div>
     {%endblock%} 
</body>