{% extends 'courses/base.html' %}

<head>
    {% block title %}
    <title> {{action.title}}</title>
    {%endblock%}
</head>

<body>
  {% block content %}
  <div class="text-center">
    <h3 class="text-center">Курс {{action.course.title}}</h3>
    <h5> Раздел {{action.title}}</h5>
  </div>
  <div class="list-group w-auto">
    {% for step in steps %}
    <a href="{% url 'courses:step_view' step.action.course.slug step.action.slug step.slug %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="#">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
         <h6 class="mb-0">{{step.title}}</h6>
         <p class="mb-0 opacity-75"> {{step.description | linebreaks}} </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endblock %}
</body>