{% extends 'courses/base.html' %}


<head>
   <meta charset="UTF-8">
   {% block title %}
    <title> Доступные курсы </title>
   {% endblock %}
</head>

<body>
   {% block content %}
   <div class="container-fluid px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Доступные курсы</h2>
      
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
         {% for course in courses %} 
        <div class="feature col" style="background-color: #f1f1f0ec">
          <h2>{{course.title}}</h2>
          <p>{{course.description | linebreaks }}</p>
          <p class="text-secondary"> {{course.date_added}}</p>
          <a href="/courses/{{course.slug}}/" class="icon-link d-inline-flex align-items-center">
            Перейти к курсу
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
    
  {% endblock %}
</body>