{% extends 'courses/base.html' %}

{% block content %}
  <h5> test text </h5>
  <p> по ссылке Войти в аккаунт пока переход на клиентский интерфейс, так как нет аутентификации.
    Потом будет переход на страницу логина и после нее уже к клиентскому интерфейсу управления курсами и ботами
  </p>
  <p>В выпадающем меню сейчас все ссылки никуда не ведут
    Предполагаю, что там будут страницы с информацией и формой обратной связи (для потенциальных клиентов)
    Туда (и вообще в навбар), можно добавить любое количество ссылок на что угодно
  </p>
{% endblock content %}