{% extends 'courses/base.html' %}

<head>
    {% block title %}
    <title>{{step.title}}</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="text-center">
        <h2>Курс {{step.action.course.title}}</h2>
        <h3>Раздел {{step.action.title}}</h3>
    </div>
    <div class="text-center" style="background-color: #d8dad6e8">
        <br>   
        <div class="album py-5 bg-light text-center"> 
            <div class="row row-cols-md-5 row-cols-sm-5 row-cols-md-4 g-2">
                {% if photos %}
                {% for photo in photos %}
               <div class="col-md-3">
                 <img src="{{photo.photo.url}}" class="rounded img-thumbnails" width="500" height="500">
        {% endfor %}
        {% endif %}
              </div>
          </div>
      </div>
    
     <div class="text-center">
         <h1 class="display-6 fw-bold">{{step.title}}</h1>
            <p class="lead mb-3">{{step.description | linebreaks}}</p>
            <p class="lead mb-3">{{step.main_text | linebreaks }}</p>
     </div>
    </div>
    {% endblock %}
</body>