name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
build_and_pub:
  needs: [run_tests]
  runs-on: [ubuntu-latest]
  env:
    LOGIN: ${{ secrets.DOCKER_LOGIN }}
    NAME: ${{ secrets.DOCKER_NAME }}
  steps:
   - name: Login to Docker
     run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_LOGIN }} --password-stdin
   - uses: actions/checkout@v3
   - name: Build image
     run: docker build -t $LOGIN/$NAME:${GITHUB_REF:11} -f Dockerfile .
   - name: Push image to Docker
     run: docker push $LOGIN/$NAME:${GITHUB_REF:11}