{% extends 'client_interface/base.html' %}
{% load bootstrap5 %}

<head>
    {% block title %}
    <title> {{course.title}}</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <main class="form-signin w-100 ">
        <h1 class="h3 mb-3 fw-normal">Создать операцию </h1>
        <form method="post" enctype="multipart/form-data" class="form-control form-control-sm">
            {% csrf_token %}
            <div class="text-center">
                {{ action_form.non_field_errors }}
                {{ action_form.field.errors }}
                <label for="{{action_form.process.id_for_label}}">Выберите процесс, к которому относится операция</label>
                <br>
                <br>
                {{action_form.process}}
            </div>
           <div class="text-center">
               {{ action_form.non_field_errors }}
               {{ action_form.field.errors }}
               <label for="{{action_form.title.id_for_label}}">Введите название операции</label>
               <br>
               <br>
               {{action_form.title}}
           </div>
           <div class="text-center">
            {{ action_form.non_field_errors }}
            {{ action_form.field.errors }}
            <label for="{{action_form.cover.id_for_label}}">Прикрепите обложку (необязательно)</label>
            <br>
            <br>
            {{action_form.cover}}
        </div>
           <div class="text-center">
               {{ action_form.non_field_errors }}
               {{ action_form.field.errors }}
               <label for="{{action_form.description.id_for_label}}">Напишите краткое описание операции</label>
               <br>
               <br>
               {{action_form.description}}
           </div>
           <br>
           <div class="text-center">
               {{ action_form.non_field_errors }}
               {{ action_form.field.errors }}
               <label for="{{action_form.photos.id_for_label}}">Прикрепите фото (необязательно) </label>
               <br>
               <br>
               {{action_form.photos}}
           </div>
           <br>
           <div class="text-center">
            {{ action_form.non_field_errors }}
            {{ action_form.field.errors }}
            <label for="{{action_form.video.id_for_label}}">Прикрепите видео </label>
            <br>
            <br>
            {{action_form.video}}
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th scope="col">Этап работ</th>
                    <th scope="col">Ключевые моменты</th>
                    <th scope="col">Причины выделения ключевых моментов</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" style="background-color:#CCCCCC">
                        {{ step_form.non_field_errors}}
                        {{ step_form.field.errors }}
                        <label for="{{step_form.step_title.id_for_label}}">Название этапа </label>
                        {{step_form.step_title}}
                    </td>
                    <td scope="row" style="background-color:#CCCCCC">
                        {{ step_form.non_field_errors}}
                        {{ step_form.field.errors }}
                        <label for="{{step_form.key_moment.id_for_label}}">Ключевые моменты </label>
                        {{step_form.key_moment}}  
                    </td>
                    <td scope="row" style="background-color:#CCCCCC">
                        {{ step_form.non_field_errors}}
                        {{ step_form.field.errors }}
                        <label for="{{step_form.key_moment_reason.id_for_label}}">Причины выделения ключевых моментов </label>
                        {{step_form.key_moment_reason}}
                    </td>   
                </tr>
            </tbody>
        </table>
           <button class="w-100 btn btn-lg btn-primary" style="background-color: #b0b5f8" name='submit' > Создать</button>
          </form>
    </main>
    {% endblock %}
</body>
