{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        Курс {{action.course.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Раздел {{action.title}} для курса {{action.course.title}} успешно создан</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Любой нужный текст</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'client_interface:action_creation' action.course.slug %}" class="btn btn-secondary btn-lg px-4 gap-3">Создать еще один раздел</a>
            <a href="{% url 'client_interface:step_creation' action.course.slug %}" class="btn btn-primary btn-lg px-4 gap-3">Добавить шаги</a>
          </div>
        </div>
      </div>
    {% endblock %}
</body>
