{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
        {% block title %}{%endblock%}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #a0a0a0f3">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'client_interface:index' %}">TWI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">О проекте</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Боты</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">{ название бота }</a></li>
              <li><a class="dropdown-item" href="#">{ название бота }</a></li>
              <li><a class="dropdown-item" href="#">{ название бота }</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Курсы</a>
            <ul class="dropdown-menu">
              {% if courses %}
              {% for course in courses %}
              <li><a class="dropdown-item" href="{% url 'client_interface:course_showing' course.slug %}">{{course.title}}</a></li>
              {% endfor %}
              <li><a class="dropdown-item" href="{% url 'client_interface:course_creation' %}">Новый курс</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'client_interface:course_creation' %}">Новый курс</a></li>
            </ul>
          </li>
          {% endif %}
          </li>
        </ul>
        <li class="d-flex text-end">
          <a class="nav-link active" style="color:rgba(255, 255, 255, 0.89)" href="{% url 'account:logout' %}">Выйти</a>
        </li>
      </div>
    </div>
  </nav>
  <div class="text-center">
    {% block content %}{% endblock %}
  </div>
</body>