{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        {{course.title}}
    </title>
    {% endblock %}
</head>

<body>
  {% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <!--TODO: add logo-->
        <img class="d-block mx-auto mb-4" src="#" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Курс {{course.title}} успешно создан</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Любой нужный текст</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'client_interface:process_creation' course.slug %}" class="btn btn-primary btn-lg px-4 gap-3">Перейти к созданию процессов </a>
            <a href="{% url 'client_interface:course_showing' course.slug %}" class="btn btn-secondary btn-lg px-4 gap-3">Перейти на страницу курса </a>
          </div>
        </div>
      </div>
  {% endblock %}
</body>