{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        {{course.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <h2> {{course.title}}</h2>
    <a class="btn btn-outline-primary" href="{% url 'client_interface:course_editing' course.slug %}">Редактировать курс</a>
    <a class="btn btn-outline-danger" href="{% url 'client_interface:course_deleting' course.slug %}">Удалить курс</a>
    {% if processes %}
    {% for process in processes %}
    <br>
    <br>
    <li>
        <ul>
            <a href="{% url 'client_interface:process_showing' course.slug  process.slug %}">
                <h6>{{process.title}}</h6>
                <p> {{process.description}}</p>
                <a class="btn btn-outline-primary" href="{% url 'client_interface:process_editing' course.slug process.slug %}"> Редактировать процесс</a>
            </a>
        </ul>
    </li>
    {% endfor %}
    {% else %}
    <div>
        <h2> Процессы скоро будут добавлены</h2>
    </div>
    {% endif %}
    <div class="text-center">
        <a class="btn btn-outline-primary" href="#">Добавить новый процесс </a>
      </div>
  {% endblock %}   
</body>