{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        {{course.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <br>
    <br>
    <br>
    <h1 class="display-5 fw-bold text-center">Курс {{course.title}}</h1>
    <table class="table">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:20%">
        <col style="width:40%">
        <col style="width:10%">
        <thead>
            <tr>
              <th scope="col">Этап</th>
              <th scope="col">Ключевой момент</th>
              <th scope="col">Причина выделения ключевого момента</th>
              <th scope="col">Основная инструкция</th>
              <th scope="'col">Действия</th>
            </tr>
        </thead>
        <tbody>
                {% for action in actions %}
                {% for step in steps %}
                {% if step.action == action %}
            <tr>
                <td scope="row" style="background-color: #CCCCCC">{{action.title | linebreaks}}</td> 
                <td scope="row">{{step.title}}</td>
                <td scope="row" style="background-color: #CCCCCC">{{step.description}}</td>
                <td scope="row">{{step.main_text | linebreaks}}</td>
                <td scope="row" style="background-color: #CCCCCC" class="text-end">
                    <a href="#" class="btn btn-outline-primary">Редактировать</a>
                    <br>
                    <br>
                    <a href="#" class="btn btn-outline-danger">Удалить</a>
                </td>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
    </table> 
    <!---
    {% for action in actions %}
    <table class="table  table-striped">
        <thead>
            <tr>
                <th scope="col">Обложка раздела</th>
                <th scope="col">Название раздела</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if action.cover %}
                <th scope="row">
                    <img class="img-thimbnails" src="{{action.cover.url}}" width="300" height="300">
                </th>
                {% endif %}
                <td scope="row">{{action.title}}</td>
            </tr>
            {% for step in steps %}
            {% if step.action == action %}
            <table class="table  table-striped">
                <tbody>
                    <tr>
                        <th scope="col">Ключевой момент</th>
                        <td scope="col">{{step.title}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Причины выделения ключевого момента</th>
                        <td scope="col">{{step.description}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Основная инструкция</th>
                        <td scope="col">{{step.main_text}}</td>
                    </tr>
                    {% if step.photos %}
                    <table class="table  table-striped">
                        <tbody>
                            <tr>
                                {% for photo in photos %}
                                {% if photo.step == step %}
                                <th scope="col">
                                    <img class="img-thimbnails" src="{{photo.photo.url}}" width="300" height="300">  
                                </th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table> 
                    {% endif %}  
                   {% endif %} 
                  {% endfor %}
                </tbody>
            </table>
          {% endfor %}
        </tbody>
    </table>  
    -->      
  {% endblock %}   
</body>