{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        {{course.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <section class="py-5 text-center container-fluid" style="background-color: #525351">
        <div class="px-3 py-5 my-4 text-center">
            {% if process.cover %}
            <img class="d-block mx-auto mb-4" src="{{process.cover.url}}" alt="" width="200" height="200">
            {% endif %}
            <h1 class="display-5 fw-bold">Процесс {{process.title}}</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">{{process.description}}</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
            </div>
          </div>
          <h2> Список операций </h2>
          <br>
        <div class="row py-lg-0">
          <div class="album py-0 bg-light">
            <div class="container-fluid">
              <div class="row row-cols-md-3 row-cols-sm-2 row-cols-md-3 g-2">
                {% for action in actions %}
                <div class="col-md-3">
                    <div class="card shadow-sm">
                      <div class="card-body">
                        <a class="card-link" href="{% url 'client_interface:action_showing' process.course.slug process.slug action.slug %}"> {{action.title}} </a>
                        <a class="btn btn-outline-primary" href="{% url 'client_interface:action_editing' process.course.slug process.slug action.slug %}"> Редактировать этап</a>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                  <div class="col-sm-3 col-sm-6 mx-auto">
                    <h1 class="fw-light">Операции скоро будут добавлены</h1>
                  </div>
                  {% endfor %}
              </div>
              <div class="text-center">
                <a class="btn btn-outline-primary" href="#">Добавить новую операцию </a>
              </div> 
            </div>
        </div> 
    </section>
  {% endblock %}   
</body>