{% extends 'client_interface/base.html' %}


<head>
  {%block title %}
  <title>
    Курс {{step.action.process.course.title}}
  </title>
  {% endblock %}
</head>

<body>
    {% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Ключевой момент {{step.title}} для этапа {{step.action.title}} успешно создан</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Любой нужный текст</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'client_interface:step_creation' step.action.process.course.slug step.action.process.slug %}" class="btn btn-secondary btn-lg px-4 gap-3">Создать еще один ключевой момент</a>
            <a href="{% url 'client_interface:action_creation' step.action.process.slug step.action.process.course.slug %}" class="btn btn-secondary btn-lg px-4 gap-3">Вернуться к созданию этапов</a>
            <a href="#" class="btn btn-primary btn-lg px-4 gap-3">Загрузить курс в бота</a>
            </div>
        </div>
      </div>
    {% endblock %}
</body>
