{% extends 'client_interface/base.html' %}

<head>
    {% block title %}
    <title>
        {{step.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <br>
    <br>
    <div class="text-center">
        <h2> Вы уверены, что хотите удалить ключевой момент {{step.title}}?</h2>
        <form action="{% url 'client_interface:step_deleting' course.slug process.slug action.slug step.slug %}" method="post">
            {% csrf_token %}
          <button class="w-100 btn btn-outline-danger" name='submit' > ДА</button>
        </form>
    </div>
    {% endblock %}
</body>