{% extends 'client_interface/base.html' %}
{% load bootstrap5 %}

<head>
    {% block title %}
    <title>
        Курс {{course.title}}
    </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <main class="form-signin w-100 ">
        <h1 class="h3 mb-3 fw-normal">Создать ключевой момент</h1>
        <form method="post" enctype="multipart/form-data" class="form-control form-control-sm">
            {% csrf_token %}
            <div class="form-floating">
              {{ form.non_field_errors }}
              {{ form.field.errors }}
              <label for="{{form.action.id_for_label}}">Выберите этап работ, к которому относится момент</label>
              <br>
              <br>
              {{form.action}}
          </div>
          <br>
           <div class="form-floating">
               {{ form.non_field_errors }}
               {{ form.field.errors }}
               <label for="{{form.title.id_for_label}}">Название ключевого момента</label>
               <br>
               <br>
               {{form.title}}
           </div>
           <br>
           <div class="form-floating">
               {{ form.non_field_errors }}
               {{ form.field.errors }}
               <label for="{{form.description.id_for_label}}">Укажите причину выделения ключевого момента</label>
               <br>
               <br>
               {{form.description}}
           </div>
           <br>
           <div class="form-floating">
              {{ form.non_field_errors }}
              {{ form.field.errors }}
              <label for="{{form.text.id_for_label}}">Основная инструкция</label>
              <br>
              <br>
              {{form.text}}
          </div>
          <br>
          <div class="form-floating">
              {{ form.non_field_errors }}
              {{ form.field.errors }}
              <label for="{{form.photos.id_for_label}}">Приложите фотографии (необязательно)</label>
              <br>
              <br>
              {{form.photos}}
          </div>
          <br>
           <button class="btn btn-primary" style="background-color: #b0b5f8" name='submit' > Создать</button>
          </form>
    </main>
    
    {% endblock %}
</body>
